@import '@/styles/_variables.scss';

.wrapper {
  padding: 80px 20px;
  background: $bg-color;
}

.cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;

  .ant-card-cover img {
    height: 200px;
    object-fit: cover;
  }
}
